
{% block title %}
<title>Register - Register yourself</title>

{% endblock %}

{% block body  %}

<h2>register below</h2>
<form action = "{{url_for('Register')}}" method ="post">
    <div>
        <input type="text" name = "username" placeholder = "Type a username" >
        <input type ="password" name = "Password" placeholder = "type your password">
        <button>Submit</button>
        

    </div>



</form>

<p>{{message}}</p>

{%if username%}
<p>User {{username}} has been registered</p>
{% endif %}
{% endblock %}